.crypto {
  position: absolute;
  margin: 2rem auto 0 auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  color: var(--font);
  &__title {
    font-size: 3rem;
  }
  &__table {
    display: flex;
    flex-direction: column;

    width: 100%;
    background-color: var(--primary);
    border: var(--border);
  }
  &__parameters {
    display: flex;
  }
  // &__list {
  //   // list-style-type: none;
  // }
  &__coin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }
}
.coin {
  width: 20%;
  &__data {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
  }
  &__symbol {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.247);
  }
  &__logo {
    height: 2rem;
  }
}
