.crypto {
  position: absolute;
  margin: 2rem auto 0 auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  color: var(--font);
  &__title {
    font-size: 3rem;
  }
  &__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary);
    border: var(--border);
  }
  &__list {
    // list-style-type: none;
    li {
      margin: 10px 0;
    }
  }
}
