.title {
  margin: 1rem 0;
}
.table {
  // position: absolute;
  // margin: 1rem auto 0 auto;
  // left: 0;
  // right: 0;
  background-color: #fff;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
  // min-width: 670px;
  color: var(--font);
  &__data {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary);
  }
  &__headRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  &__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    &:hover {
      background-color: rgba(45, 117, 218, 0.164);
      cursor: pointer;
    }
    & .coin__star--solid {
      display: none;
    }
    &.selected {
      background-color: #ddd;
      & .coin__star--solid {
        display: inline-block;
        color: rgb(204, 178, 30);
      }
      & .coin__star--regular {
        display: none;
      }
    }
  }
  &__coin {
    width: 15%;
    text-align: end;
    font-size: 1rem;
    &--small {
      width: 5%;
    }
    &--alignCenter {
      text-align: center;
    }
    &--data {
      display: flex;
      gap: 0.5rem;
      justify-content: flex-start;
      align-items: center;
    }
    &--symbol {
      font-size: 0.7rem;
      color: rgba(0, 0, 0, 0.308);
    }
    &--logo {
      height: 2rem;
    }
    &--chart {
      height: 1rem;
    }
  }
}
