.header {
  display: flex;
  align-items: center;
  width: 100vw;
  text-align: start;
  background-color: var(--primary-color);
  &__logo {
    color: rgb(255, 126, 40);
    padding: 0 2rem;
    font-size: 1.5rem;
  }
  &__info {
    font-size: large;
  }
}
