.header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  text-align: start;
  color: var(--font);
  background-color: var(--primary-color);
  box-shadow: #ff7b0059 0px 5px 15px;
  &__logo {
    color: rgb(255, 126, 40);
    margin: 1rem 0;
    padding: 0 2rem;
    font-size: 2rem;
  }
  &__info {
    font-size: large;
  }
}
